@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer utilities {
	.text-pretty {
		text-wrap: balance;
		text-wrap: pretty;
		margin: 1em 0;
	}

	.animation-fade-in {
		animation: fade-in 0.2s ease-out forwards;
	}

	.animation-slide-from-right {
		animation: slide-from-right 0.2s ease-out forwards;
	}

	.responsive-video {
		aspect-ratio: 16 / 9;
		width: 100%;
	}
}

.card {
	overflow: hidden;
	position: relative;
	margin: 0.5em;
	color: #ffffff;
	.card-thumb {
		border-radius: 15px;
		position: relative;
		overflow: inherit;
		overflow: hidden;

		img {
			width: 100%;
			position: relative;
			z-index: 1;
			border-radius: inherit;
			transition: all 0.8s ease;
		}
	}

	.card-thumb-event {
		height: 150px;
	}
	.card-overlay {
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		border-radius: inherit;
	}
	.card-social {
		svg {
			height: 20px;
			width: 20px;
		}
	}
	.card-info {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: 3;
		padding: 1em;
		background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);
		border-radius: 15px;
		font-size: 0.8em;
	}

	.card-event {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.card-name {
		font-size: 1.4em;
		margin-bottom: 3px;
		text-transform: uppercase;
	}
	.card-social {
		position: absolute;
		z-index: 2;
		left: 13px;
		top: 50px;
		display: flex;
		flex-direction: column;
		a {
			display: flex;
			margin: 12px;
			transform: scale(0) rotate(45deg);
			opacity: 0;
			transition: all 0.4s ease;
		}
	}
	&:hover {
		.card-social {
			a {
				transform: scale(1) rotate(0deg);
				opacity: 1;
			}
		}
		.card-thumb {
			img {
				transform: scale(1.06) translateY(8px);
			}
		}
	}
}
@media screen and (max-width: 1380px) {
	.cs-team.cs-style1 .card-name {
		font-size: 1.1em;
	}
}

label:has([required]) > span:first-child {
	&::after {
		content: "*";
		@apply ml-1 text-destructive;
	}
}

.CollapsibleContent {
	overflow: hidden;
}
.CollapsibleContent[data-state="open"] {
	animation: slideDown 250ms ease-in-out;
}
.CollapsibleContent[data-state="closed"] {
	animation: slideUp 250ms ease-in-out;
}

input[type="search" i]::-webkit-search-cancel-button {
	display: none;
}

@keyframes slideDown {
	from {
		height: 0;
	}
	to {
		height: var(--radix-collapsible-content-height);
	}
}

@keyframes slideUp {
	from {
		height: var(--radix-collapsible-content-height);
	}
	to {
		height: 0;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slide-from-right {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}

.nav-border-reveal::after {
	@apply content-[''] w-full h-px absolute bottom-0 bg-neutral-200;

	animation: nav-border-reveal;
	animation-timeline: scroll();
	animation-range: 0 100px;
}

@keyframes nav-border-reveal {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}
